@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body {
    overflow-x: hidden;
}

.login-container {
    display: inline-flex;
    align-items: center;
    gap: 163px;
    padding: 247px 207px 248px 120px;
}

.login-title>h1 {
    color: #1C1C1E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.login-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#emailLogin {
    width: 440px;
    border-radius: 8px;
    padding: 16px;
}

#user-password{
    width: 440px;
    border-radius: 8px;
    padding: 16px;
}

.login-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background-color: #F3BD00;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.email-section {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.password-layout {
    display: flex;
    align-items: center;
}

.password-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#view-password {
    position: relative;
    right: 80px;
    cursor: pointer;
}

.showpassword{
    position: relative;
    right: 45px;
    cursor: pointer;
}


.signup-google {
    display: flex;
    /* border: 1px solid #1C1C1E; */
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #FEFEFE;
    cursor: pointer;
    box-shadow: 1px 4px 9px 3px #d6d6d6;
}

.signup-google>p {
    color: #1C1C1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-items: center;
    justify-content: center;
}

.have-account{
    display: flex;
    justify-content: center;
    gap: 4px;
}